<a href="https://colab.research.google.com/github/mkdirlife/orm/blob/main/%5B%EB%AA%A8%EB%91%90%EC%9D%98_%EC%97%B0%EA%B5%AC%EC%86%8C%5D_3%EC%A3%BC%EC%B0%A8_4%EC%9D%BC_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. 다음 숫자 중 5보다 크고, 20보다 작으면서 짝수인 수를 모두 더하는 코드를 완성 해주세요. 오늘 배운 filter 사용은 필수 입니다.

number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]
def solution(data):
    return list(filter(lambda x: True if x % 2 == 0 and x > 5 and x < 20 else False, number))

solution(number)

[]

In [ ]:
# 2. 다음에 정보가 담겨져 있는 것을 Class로 만들어주세요. 메서드로는 '할인' 메서드를 만들어주세요. 예를 들어 아래 책을 10% 할인한다고 하면 4500원이 됩니다. `책.할인(10) == 4500`의 형태로 만들어주시면 됩니다.
# {
#     '책제목': 'hello world python',
#     '책 내용 요약': 'hello world...',
#     '저자': '이호준',
#     '발행일': '2024-01-11',
#     '가격': 5000
# }

class Book:
    def __init__(
            self,
            name,
            summary,
            author,
            date,
            price
            ):
        self.name = name
        self.summary = summary
        self.author = author
        self.date = date
        self.price = price

    def __eq__(self, next):
        print("df")
        return self == next

    def 할인(self, rate):
        return int(self.price - self.price * rate / 100)

책 = Book('hello world python', 'hello world...', '이호준', '2024-01-11', 5000)
책.할인(10)

4500

In [ ]:
# 3. 다음 문제를 풀고 정답을 제출해주세요.
# 3.1 https://100.pyalgo.co.kr/?page=10#

character_list1 = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]
character_list2 = [['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]]

# step3 350이 넘는 캐릭터 이고, 각 능력치 값이 10 이상 100 이하 일때 True
def is_ok_value(character):
    if sum(character[1:]) >= 350 and all(list(map(lambda x:True if 10 <= int(x) <= 100 else False, character[1:]))):
        return True
    else:
        return False

def solution(data):
    select_character = []

    # step1 3 ≤ 캐릭터의 수 ≤ 10
    if 3 <= len(data) <= 10:
        for character in data:
            if is_ok_value(character):
                select_character.append(character[0])
        return sorted(select_character)
    else:
        print("캐릭터 수가 3 보다 크고 10 보다 작아야 합니다.")

solution(character_list2)

['Allosa', 'Gray']

In [ ]:
# 3. 다음 문제를 풀고 정답을 제출해주세요.
# 3.2 https://100.pyalgo.co.kr/?page=18#

wether_data = {
    '2024-01-01': 15,
    '2024-01-02': 17,
    '2024-01-03': 16,
    '2024-01-04': 20,
    '2024-01-05': 19,
    '2024-01-06': 21,
    '2024-01-07': 18
}

def solution(data):
    # 기온 데이터는 최소 7개 에서 최대 30개 까지 주어질 수 있습니다.
    if 7 <= len(data) <= 30:
        sorted_data = sorted(data.items(), key=lambda x: x[1], reverse=True)
    else:
        print("데이터가 너무 많거나 적습니다. (기온 데이터는 최소 7개 에서 최대 30개) ")

    return [f'{x[0]}: {x[1]}' for x in sorted_data][:3]

solution(wether_data)

['2024-01-06: 21', '2024-01-04: 20', '2024-01-05: 19']