<a href="https://colab.research.google.com/github/mkdirlife/orm/blob/main/%EC%98%A4%EB%A6%84%EC%BA%A0%ED%94%84_3%EC%A3%BC%EC%B0%A8_2%EC%9D%BC_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 반복문

In [1]:
def 함수명():
    pass

In [ ]:
if 조건:
    pass

In [ ]:
# 반복문
for 변수명 in 순회_가능한_객체:
    pass    # 수행할 문장

In [4]:
test = 'hello'

In [5]:
print(test[0])
print(test[0:2])

h
he

In [6]:
# 반복문의 기초 - 문자열
# 1. 'hello'를 순서대라 하나씩 단어를 꺼내서
# 2. x에 하나씩 넣은 다음에
# 3. 하나씩 for문 아래 코드블럭을 수행한다.
# 4. 그리고 순서가 마쳐지면 -> 다음 시퀀스(순서)로 넘어가서 똑같은 작업을 수행한다.
for x in 'hello':   # 순회 가능한 객체 -> 문자열 / 리스트 / 다른 데이터셋 / range(10) / 기타 등등
    print(f"현재 값은 {x} 입니다.")

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [7]:
for x in (1, 2, 3, 4, 5):
    print(f"현재 값은 {x} 입니다.")

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [8]:
for x in range(10, 20, 2):
    print(f"현재 값은 {x} 입니다.")

현재 값은 10 입니다.
현재 값은 12 입니다.
현재 값은 14 입니다.
현재 값은 16 입니다.
현재 값은 18 입니다.

In [9]:
len(range(10))

10

In [10]:
# 문자열 자료형을 범위로 가져왔을때!

s = 'hello world'
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [13]:
s = '123'
result = 0
for i in '123213':
    result += int(i)
print(result)

12

In [30]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전:
    print(i ,':', 단어_사전[i])

for key, value in 단어_사전.items():
    print(f"{key} : {value}")

하나 : one
둘 : two
셋 : three
하나 : one
둘 : two
셋 : three

In [31]:
result = 0
for i in range(101):
    result += i
result

5050

In [32]:
n = 100
result = (n + 1) * n / 2
result

5050.0

In [1]:
#result = 0
# 리스트라면 비어있는 리스트라도 만들어야 한다. result = []
# 비어있는 자료형도 자료형이다. None도 자료형이다.

for i in range(101):
    if i % 2 == 0 or i % 2 == 1:
        result += i
result

NameError: name 'result' is not defined

In [58]:
result = 0
for i in range(1, 101):
    result += i
result

5050

# 2. 중첩 반복문

In [63]:
# code1
for i in [[1, 2], [10, 20], [100, 200]]:
    for j in i:
        print(i)
        print(j)

[1, 2]
1
[1, 2]
2
[10, 20]
10
[10, 20]
20
[100, 200]
100
[100, 200]
200

In [64]:
#1. 방금처럼 구조를 정한다.
#2. 최소한의 반복문만 수행해본다.
#3. 각 반복문을 print() 해본다.

In [107]:
# 구구단 만들기

for i in range(2, 10):  # 2 ~ 9단 앞자리 수
    print("")
    print(f"--- {i} 단---")
    for j in range(1, 10):  # 1~9 반복한다.
        print(f"{i} * {j} = {i * j}")

a = [f"{i} * {j} = {i * j}" for i in range(2, 10) for j in range(1, 10)]

# print(a)
for k in a:
    print(k)
    print("")
    print(f"--- {key} 단---")

--- 2 단---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

--- 3 단---
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

--- 4 단---
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

--- 5 단---
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

--- 6 단---
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

--- 7 단---
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

--- 8 단---
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

--- 9 단---
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [79]:
x = []

for i in range(1, 10):
  x.append(i)

print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
# step1 list안에 for문을 가져옵니다.
#[for i in range(1, 10)] # for문 시작하는 조건을 가져오고 리스트로 묶는다.

# step2 append 항목을 앞으로 가져옵니다.
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)

b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [92]:
# 리스트 컴프리헨션 + 조건문
l = [i for i in range(1, 10) if i % 2 == 0 and i % 3 == 0]
print(l)

[6]

In [6]:
# 중첩된 리스트 컴프리헨션

# 리스트 컴프리헨션: 중첩된 반복문
c = [f'{i} × {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]
print(c)

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} × {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]
print(cc)

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} × {j} = {i*j}')
print(c_list)

['2 × 1 = 2', '2 × 2 = 4', '2 × 3 = 6', '2 × 4 = 8', '2 × 5 = 10', '2 × 6 = 12', '2 × 7 = 14', '2 × 8 = 16', '2 × 9 = 18', '3 × 1 = 3', '3 × 2 = 6', '3 × 3 = 9', '3 × 4 = 12', '3 × 5 = 15', '3 × 6 = 18', '3 × 7 = 21', '3 × 8 = 24', '3 × 9 = 27', '4 × 1 = 4', '4 × 2 = 8', '4 × 3 = 12', '4 × 4 = 16', '4 × 5 = 20', '4 × 6 = 24', '4 × 7 = 28', '4 × 8 = 32', '4 × 9 = 36', '5 × 1 = 5', '5 × 2 = 10', '5 × 3 = 15', '5 × 4 = 20', '5 × 5 = 25', '5 × 6 = 30', '5 × 7 = 35', '5 × 8 = 40', '5 × 9 = 45', '6 × 1 = 6', '6 × 2 = 12', '6 × 3 = 18', '6 × 4 = 24', '6 × 5 = 30', '6 × 6 = 36', '6 × 7 = 42', '6 × 8 = 48', '6 × 9 = 54', '7 × 1 = 7', '7 × 2 = 14', '7 × 3 = 21', '7 × 4 = 28', '7 × 5 = 35', '7 × 6 = 42', '7 × 7 = 49', '7 × 8 = 56', '7 × 9 = 63', '8 × 1 = 8', '8 × 2 = 16', '8 × 3 = 24', '8 × 4 = 32', '8 × 5 = 40', '8 × 6 = 48', '8 × 7 = 56', '8 × 8 = 64', '8 × 9 = 72', '9 × 1 = 9', '9 × 2 = 18', '9 × 3 = 27', '9 × 4 = 36', '9 × 5 = 45', '9 × 6 = 54', '9 × 7 = 63', '9 × 8 = 72', '9 × 9 = 81']
[['2 × 1 = 2', '2 × 2 = 4', '2 × 3 = 6', '2 × 4 = 8', '2 × 5 = 10', '2 × 6 = 12', '2 × 7 = 14', '2 × 8 = 16', '2 × 9 = 18'], ['3 × 1 = 3', '3 × 2 = 6', '3 × 3 = 9', '3 × 4 = 12', '3 × 5 = 15', '3 × 6 = 18', '3 × 7 = 21', '3 × 8 = 24', '3 × 9 = 27'], ['4 × 1 = 4', '4 × 2 = 8', '4 × 3 = 12', '4 × 4 = 16', '4 × 5 = 20', '4 × 6 = 24', '4 × 7 = 28', '4 × 8 = 32', '4 × 9 = 36'], ['5 × 1 = 5', '5 × 2 = 10', '5 × 3 = 15', '5 × 4 = 20', '5 × 5 = 25', '5 × 6 = 30', '5 × 7 = 35', '5 × 8 = 40', '5 × 9 = 45'], ['6 × 1 = 6', '6 × 2 = 12', '6 × 3 = 18', '6 × 4 = 24', '6 × 5 = 30', '6 × 6 = 36', '6 × 7 = 42', '6 × 8 = 48', '6 × 9 = 54'], ['7 × 1 = 7', '7 × 2 = 14', '7 × 3 = 21', '7 × 4 = 28', '7 × 5 = 35', '7 × 6 = 42', '7 × 7 = 49', '7 × 8 = 56', '7 × 9 = 63'], ['8 × 1 = 8', '8 × 2 = 16', '8 × 3 = 24', '8 × 4 = 32', '8 × 5 = 40', '8 × 6 = 48', '8 × 7 = 56', '8 × 8 = 64', '8 × 9 = 72'], ['9 × 1 = 9', '9 × 2 = 18', '9 × 3 = 27', '9 × 4 = 36', '9 × 5 = 45', '9 × 6 = 54', '9 × 7 = 63', '9 × 8 = 72', '9 × 9 = 81']]
['2 × 1 = 2', '2 × 2 = 4', '2 × 3 = 6', '2 × 4 = 8', '2 × 5 = 10', '2 × 6 = 12', '2 × 7 = 14', '2 × 8 = 16', '2 × 9 = 18', '3 × 1 = 3', '3 × 2 = 6', '3 × 3 = 9', '3 × 4 = 12', '3 × 5 = 15', '3 × 6 = 18', '3 × 7 = 21', '3 × 8 = 24', '3 × 9 = 27', '4 × 1 = 4', '4 × 2 = 8', '4 × 3 = 12', '4 × 4 = 16', '4 × 5 = 20', '4 × 6 = 24', '4 × 7 = 28', '4 × 8 = 32', '4 × 9 = 36', '5 × 1 = 5', '5 × 2 = 10', '5 × 3 = 15', '5 × 4 = 20', '5 × 5 = 25', '5 × 6 = 30', '5 × 7 = 35', '5 × 8 = 40', '5 × 9 = 45', '6 × 1 = 6', '6 × 2 = 12', '6 × 3 = 18', '6 × 4 = 24', '6 × 5 = 30', '6 × 6 = 36', '6 × 7 = 42', '6 × 8 = 48', '6 × 9 = 54', '7 × 1 = 7', '7 × 2 = 14', '7 × 3 = 21', '7 × 4 = 28', '7 × 5 = 35', '7 × 6 = 42', '7 × 7 = 49', '7 × 8 = 56', '7 × 9 = 63', '8 × 1 = 8', '8 × 2 = 16', '8 × 3 = 24', '8 × 4 = 32', '8 × 5 = 40', '8 × 6 = 48', '8 × 7 = 56', '8 × 8 = 64', '8 × 9 = 72', '9 × 1 = 9', '9 × 2 = 18', '9 × 3 = 27', '9 × 4 = 36', '9 × 5 = 45', '9 × 6 = 54', '9 × 7 = 63', '9 × 8 = 72', '9 × 9 = 81']

In [7]:
def sumthingFunction(i):    # 함수 sumthingFunction(i)을 생성
    if i % 100 ==0:         # 조건문 100으로 나눴을때 나머지가 0이 되는것
        return i            # 조건에 일치하면 i를 리턴 일치하지 않으면 0을 리턴
    else:
        return 0

l = [100, 200, 300, 101, 202, 303]
l = [sumthingFunction(i) for i in l]    # ㅣ(리스트)에 있는 값들을 하나씩 꺼내서, 함수에 태워보고, 조건에 맞는 값들만 인쇄
l # 출력: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

In [104]:
l = [100, 200, 300, 101, 202, 303]
l2 = [(lambda x : x % 100 == 0) for i in l]
print(l2)

[<function <listcomp>.<lambda> at 0x798ca1d8a4d0>, <function <listcomp>.<lambda> at 0x798ca1d8bc70>, <function <listcomp>.<lambda> at 0x798ca1d8a830>, <function <listcomp>.<lambda> at 0x798ca1d8bb50>, <function <listcomp>.<lambda> at 0x798ca1d88dc0>, <function <listcomp>.<lambda> at 0x798ca1d8a050>]

In [105]:
# 전통적인 방법
d = {}
for i in range(5):
    d[i] = i**2
print(d)

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)}
print(dd)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [114]:
# 복합 순회형 자료 for문

for i, j, k in ['abc', 'def', 'ghi']:
    print(i, j, k)
    print(i)

a b c
a
d e f
d
g h i
g

In [111]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i, j in skill:
    print(i, j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [115]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [117]:
# enumerate 활용
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [119]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')    # i 에는 index값 j에는 영화 제목! , enermerate 안에 인자 1 은 1부터 시작한다는 의미

누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

# 3. while문

In [ ]:
while 구문:
    pass    # 수행할 문장

In [120]:
# while문 기초
a = 1

while a < 10 :
    print(a)
    a += 1

# for문 기초
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

1
2
3
4
5
6
7
8
9

# 프로그램1. 스무고개 숫자맞추기

## 1.1 숫자를 입력 받기
* input을 활용해서 숫자를 입력 받으세요!

In [122]:
number = int(input("숫자를 입력해주세요 (1에서 100사이) :"))

숫자를 입력하세요 (1에서 100사이) :34

In [123]:
print(number)
print(type(number))

34
<class 'int'>

In [126]:
import random

# 우리가 맞춰야할 숫자!
secret_number = random.randrange(1, 101)

In [127]:
secret_number

83

In [ ]:
# 정답을 위한 Step 1
# if문을 사용해서 같으면 정답 틀리면 틀렸습니다. 라고 출력해보기!

if secret_number == number:
    print("정답입니다.")
else:
    print("틀렸습니다.")

In [14]:
# step 1을 구현했으나..
# 최대 100번까지 맞춰야 한다.
# input을 계속 입력해야 한다.
# 힌트가 없다.
import random

# 우리가 맞춰야할 숫자!
secret_number = random.randrange(1, 101)

# step 2 -> 20번 반속하는 기능을 구현! for문
for i in range(1, 21):
    while True:
        number = input("숫자를 입력해주세요 (1에서 100사이) :")

        if number.isdigit() == True:
            number = int(number)
            if 1 <= number <= 100:
                break
        else:
            print("1에서 100까지 숫자를 입력해주세요.\n")

    if secret_number == number:
        print(f"{secret_number} 정답입니다. {i}번 만에 맞췄네요.")
        print(f"축하합니다.")
        break
    else:
        print(f"{i}번 틀렸습니다.")

        if secret_number > number:
            print("정답보다 작습니다.\n")
        else:
            print("정답보다 큽니다.\n")

    if number == 20:
        print("패했습니다. 게임이 종료됩니다.")
        print(f"정답은 {secret_number}")

숫자를 입력해주세요 (1에서 100사이) :50
1번 틀렸습니다.
정답보다 작습니다.

숫자를 입력해주세요 (1에서 100사이) :75
2번 틀렸습니다.
정답보다 큽니다.

숫자를 입력해주세요 (1에서 100사이) :62
62 정답입니다. 3번 만에 맞췄네요.
축하합니다.

# 프로그램 2: 가위바위보

In [143]:
# Step 1: 우리가 낼 가위, 바위, 보를 입력 받는다.
# Step 2: 컴퓨터가 낼 가위, 바위, 보를 입력 받는다.
import random

our_set = input("가위, 바위, 보 입력해주세요 : ")
com_set = random.choice(['가위', '바위', '보'])

# Step 3: 승패요건
if our_set == com_set:
    print(f"같은 {com_set}을 내서 비겼습니다.")
else:
    if (our_set == '가위' and com_set == '보') or (our_set == '바위' and com_set == '가위') or (our_set == '보' and com_set == '바위'):
        print(f"상대가 {com_set}을 내서 이겼습니다.")
    else:
        print(f"상대가 {com_set}을 내서졌습니다.")

가위, 바위, 보 입력해주세요 : 바위
상대가 가위을 내서 이겼습니다.