<a href="https://colab.research.google.com/github/mkdirlife/orm/blob/main/%EC%98%A4%EB%A6%84%EC%BA%A0%ED%94%84_2%EC%A3%BC%EC%B0%A8_4%EC%9D%BC_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = a
c = b

print(c)

a = 10
b = a
c = b
a = 20

print(c)

10
10

In [ ]:
a = 10
b = 10

id(a)

In [ ]:
# 회색 줄은 영문자 80자, 한글은 32자
# PEP8, PEP20
# 줄이 너무 길면 가독성이 떨어집니다.
# 뭐든지 한 줄로 하려고 하는 분들 있는데 안 좋은 습관입니다.

print("hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world")

# 해결책 1: 역슬러시 넣는 방법(저는 권고하지 않습니다!, 이스케이 문자랑 혼동될 수 있습니다.)
print("hello worldhello worldhello worldhello worldhello worldhello worldhello \
worldhello world")

# 이유는 이거랑 헷갈림
print("hello world \n hello world")

# 해결책 2: 콤마를 찍지 않은 연결
print("hello world" "hello world")
print("hello world"
    "hello world")

hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world
hello world
 hello world
hello worldhello world
hello worldhello world

In [ ]:
# 질문 : 메서드 체인으로 길어지면 어떻게 하나요?
# 답 : 메서드 체인으로 80자 이상이면 이미 가독성에 문제가 있는 것
# 메서드 체이닝을 3개 이상을 하길 권하지 않습니다.(가독성이 약화됩니다.)
'hello world'.upper().split(' ').pop().lower()  # 이렇게 코딩하지 마세요

# 문제가 덜한 코드
대문자 = 'hello world'.upper()
잘린대문자 = 대문자.split(' ')

#'hello world'.upper()   .split(' ')   .pop()    .lower()  # 이렇게 코딩하지 마세요 하지만 실행됨


# 허용함 자바스크립트식
'hello world'.upper()\
    .split(' ')\
    .pop()\
    .lower()

# 허용함
'hello world'.upper()   .split(' ')   .pop()   .lower()

# 허용하지 않음(\n) 엔터를 허용하지 않음
# 'hello world'.upper()
#     .split(' ')
#     .pop()
#     .lower()

# 허용하지 않음(\n) 엔터를 허용하지 않음
# 'hello world'.upper()
# .split(' ')
# .pop()
# .lower()

'world'

In [ ]:
dir('hello world')  # 메서드, 매직메서드, (클래스 변수, 인스턴스 변수)

# 문제 1 : find와 index 차이
# 실무에서 사용하는 코드

if 'hello world'.find('hi'):    # 실무에서 자주 나오는 오류! 이렇게 코딩하시면 안됩니다. 못 찾았는데 찾았다고 봄 -1 리턴은 참으로 봄
        print('찾았다!')

# 문제2 isdigit의 정체 is시리즈는 많이 씀
'123'.isdigit()
'12h3'.isdigit()

# 문제3 replace가 어디까지 변환하는지?
'hello world hello world'.replace('hello', 'hi')    # 모두 다 변환이 됩니다. 몇 개만 변환이 되는 것이 아닙니다.
# 알아두셔야 할 사항 : replace는 정규표현식이 안됩니다!
# replace를 정규표현식을 사용하고 싶으면 re.sub를 사용해야 합니다.

# 문제4 strip(공백제거)

# 문제5 zfill(앞에 0으로 채워주는 것, 원하는 자릿수만큼, 시간이나 연도)

찾았다!

True

# 리스트
* 변경이 가능한 자료형
* 순서가 있는 자료형(시퀀스형 자료형, 인덱싱, 슬라이싱)

In [ ]:
ㅣ = [10, 20, 30]

# 라인 수가 길어졌을 때에는 이렇게 사용하길 권합니다.
# 권고1 ,가 있을 경우 []가 있을때 까지 다음을 찾는다.
ㅣ = [10,
      20,
      30]   # 됩니다.

ㅣ = [
     10,
     20,
     30
]   # 됩니다.

# 권고2
l = [
     10,
     20,
     30,
]
# 문제가 있습니다! 통신을 할 때에는 JSON 이라는 형식을 사용하게 되는데
# JSON은 마지막에 콤마를 허용하지 않습니다!

# 그러면 왜 권고2 가 더 사용되는 걸까? 더 많이 사용되는 이유는?
# 실무에서는 콤마를 버전업으로 인식하는 경우도 많고,
# 콤마를 빼먹는 경우가 많습니다.
# 편의성 : Ctrl + C, Ctrl + V 하기가 편합니다.
# 공동작업시 일관성을 위해 자동 변환 SW를 사용합니다.(python black formatter)   => 권고!!!

In [ ]:
ㅣ = [10, 20, 30]
ㅣ[2] = 1000
print(l)

[10, 20, 30, 40, 50]

In [ ]:
l = [10, 20, 30, 40, 50]
l[-1]
l[-2:]  # 마이너스 인덱싱, 마이너스 슬라이싱은 최종적으로 양수로 치환됩니다. ㅣ[3:] 로 치환되서 실행됨

# 변수명 [stop]
# 변수명 [start:stop]
# 변수명 [start:stop:step]

[40, 50]

In [ ]:
type(l), dir(l)
# type은 검색 키워드, GPT 질문 키워드가 될 수 있습니다.
# dir은 대략적인 속성을 알 수 있습니다.

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'])

In [ ]:
# __add__ 가 있으니 더하기는 어디까지 될까? => 테스트
# __mul__ 이 있으니 곱하기는 어디까디 될까? => 테스트

ㅣ = [10, 20, 30]
# ㅣ + 100 # 정수 더하기는 안됩니다!
ㅣ + [100]
ㅣ + [100, 200]
ㅣ * 3
#ㅣ * [1, 2]    # 리스트 곱하기는 안됩니다.

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
ㅣ = [1, 2, 3] * 3
ㅣ[1] = 1000
ㅣ

[1, 1000, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 곱하기는 매우 주의해야 합니다!
# 곱하기는 2중으로 있을 때에는 나중에 배울 리스트컴프리헨션 사용해주세요!
# 같은 메모리를 가리킨다

ㅣ = [[1, 2, 3] * 3] * 2
ㅣ[1][0] = 1000
ㅣ[1][1] = 10000
ㅣ

[[1000, 10000, 3, 1, 2, 3, 1, 2, 3], [1000, 10000, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
# 암기해주세요.
x = 10          # 스칼라
x = [10]        # 벡터
x = [10, 20]    # 벡터
x = [[10, 20], [10, 20]]    # 메트릭스(행렬)
x = [[[10, 20], [10, 20], [10, 20], [10, 20]]]  # 텐서(3차원 이상 행렬)

In [ ]:
# 텐서플로? google에서 만든 딥러닝 라이브러리
# 인공지능 => 행렬의 연산

In [ ]:
x = [[1, 2], [3, 4], [5, 6]]
x[1]
x[1][1]

4

In [ ]:
x = [[1, 2], [3, 'hello world'], [5, 6]]

# Ctrl + Alt + 화살표 위나 아래, `print(` 입력했고, end버튼 눌렀고, `)` 입력했습니다.
print(x[1])
print(x[1][1])
print(x[1][1][6:])

[3, 'hello world']
hello world
world

In [ ]:
x = 10

# 다르다는 것만 인지해주세요!
# print를 하는 것과 맨 마지막 출력하는 것은 다릅니다!
print(x)    # __str__
x           # __repr__

10

10

In [ ]:
ㅣ = [10, 20, 30]
dir(ㅣ)

# shift + tab
# Ctrl + [, Ctrl + ]
```
'__add__',
'__class__',
'__class_getitem__',
'__contains__',
'__delattr__',
'__delitem__',
'__dir__',
'__doc__',
'__eq__',
'__format__',
'__ge__',
'__getattribute__',
'__getitem__',
'__gt__',
'__hash__',
'__iadd__',
'__imul__',
'__init__',
'__init_subclass__',
'__iter__',
'__le__',
'__len__',
'__lt__',
'__mul__',
'__ne__',
'__new__',
'__reduce__',
'__reduce_ex__',
'__repr__',
'__reversed__',
'__rmul__',
'__setattr__',
'__setitem__',
'__sizeof__',
'__str__',
'__subclasshook__',
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

'sort'

In [ ]:
l = [10, 20, 30]

l.append(100)
l

[10, 20, 30, 100]

In [ ]:
# 앞에다 넣는 방법 1
l = [1000] + l


# 앞에다 넣는 방법 2
x = 10000
l = [x] + l[:]

# 앞에다 넣는 방법 3
l.insert(0, 999)
l

[999,
 10000,
 1000,
 999,
 10000,
 1000,
 999,
 10000,
 1000,
 10000,
 1000,
 10000,
 1000,
 10000,
 1000,
 10,
 20,
 30,
 100]

In [ ]:
l= [10, 20, 30, 40]
l.pop() # 뒤에서 값을 꺼내는 방법
l

[10, 20, 30]

In [ ]:
l= [10, 20, 30, 40]
l.pop(0) # 앞에서 값을 꺼내는 방법
l[:-1]  # l = l[:-1]
l[1:]   # l = l[1:]

[30, 40]

In [ ]:
l= [10, 20, 30, 40]
l.index(10)
# find 는 없다

[]

In [ ]:

# keep
# index가 에러가 납니다. error 없이 코드를 짜고 싶어요.
# str 에 find처럼 코드를 짜고 싶을 때?
# 슬라이싱을 사용합니다. => 슬라이싱은 index가 벗어나더라도 에러가 나지 않습니다.

l = [10, 20, 30, 40]
l[100:101]

[]

In [ ]:
l = [10, 20, 30, 40]
l.clear()
l

[]

In [ ]:
l = [10, 20, 30, 40]
ll = l

l[0] = 1000
ll

id(l), id(ll)
l is ll
l, ll

([1000, 20, 30, 40], [1000, 20, 30, 40])

In [ ]:
# copy는 l의 값을 메모리 어딘가에 복사한다. 그러므로 id가 다르다.
l = [10, 20, 30, 40]
ll = l.copy()   # 얕은 복사와 깊은 복사가 있는데 이 개념은 뒤에서 알려드립니다.

l[0] = 1000
ll

id(l), id(ll)
l is ll
l, ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [ ]:
l = ['1', '1', 1, 2, 2, 2, 3, 3]
l.count(1)

l = ['1', 1, 1, 2, 2, 2, 3, 3]
l.count(1)

2

In [ ]:
# 분위기 환기차 하는 것

str([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]).count('8')

# str(1부터_10000까지 리스트).count('8')
list(range(10))
str(list(range(20))).count('8')

2

In [ ]:
l = [10, 20, 30, 40]
l.extend('hello')   # extend(보통리스트), extend(순회가능한 객체)
l.extend([50, 60])
l

[10, 20, 30, 40, 'h', 'e', 'l', 'l', 'o', 50, 60]

In [ ]:
l = [10, 20, 30, 40]
l.append('hello')
l.append([50, 60])
l

[10, 20, 30, 40, 'hello', [50, 60]]

In [ ]:
l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
l.remove(1) # 순회를 돌면서 가장 첫번째 만난 요소를 없앤다 제일 앞에 것이 없어짐 한가지 요소를 지울 때 사용
l

[1, 1, 1, 2, 2, 3, 3, 3]

In [ ]:
# filter
# 여기서 catch 해야할 포인트는 모든 요소를 filtering 하고 싶을때에는
# remove 가 아니라 filter 라는 것을 사용한다!

def f(x):
    return x != 1

l= [1, 1, 1, 1, 2, 2, 3, 3, 3]
list(filter(f, l))

[2, 2, 3, 3, 3]

In [ ]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.reverse()
l
# 역정렬은 아닙니다.    # 원본이 변합니다.(입력된 원본은 대부분 보존하려 노력합니다.)

# 역순은 단순히 순서를 뒤집는 것이고,
# 역정렬은 정렬의 역순입니다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [ ]:
# reversed는 잊으셔도 됩니다. l.reverse만 기억하세요.
l = [1, 2, 3, 4, 9, 5, 6, 7]
list(reversed(l))   # reversed는 원본을 변경하지 않습니다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [ ]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()    # 원본을 바꾸는 정렬
l.reverse() # 원본을 바꾸는 역정렬
l

[9, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
sorted(l)   # 원본을 변경하지 않습니다.

# sort, sorted, reverse, reversed 알고리즘 문제에서도 1개 문제는 거의 나온다고 보시면 됩니다.
# 옵션 값은 하지 않음.
# 옵션 값을 하지 않은 이유 : 함수까지는 배워야 좀 더 고급 문법이 가능합니다.

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
# 어떻게 사용되는지만 체크!
# 국, 영, 수, 이름
# 국어 점수가 가장 높은 순으로 정렬
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0]

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

In [ ]:
# 어떻게 사용되는지만 체크!
# 국, 영, 수, 이름
# 평균 점수가 가장 높은 순으로 정렬
s = [[100, 87, 91, '이호준'], [56, 38, 89, '이준호'], [33, 86, 100, '홍길동']]

def f(x):
    return x[0] + x[1] + x[2]

sorted(s, key=f)
sorted(s, key=f, reverse=True)

[[100, 87, 91, '이호준'], [33, 86, 100, '홍길동'], [56, 38, 89, '이준호']]

In [ ]:
# str은 변경이 안됩니다.
# s = 'hello world'
# s[0] = 'y'
s = 'hello world'
s = s.replace('h', 'y')
s = 'y' + s[1:]

s = s.replace('h', 'y')
# s = 'hello world'
# s1 = s[1:]
# s2 = 'j' + s1
print(s)

yello world

In [ ]:
# 속성 끝에 실수부, 허수부 가지고 있다
# 결국 수는 같은 속성을 상속받는다

a = 10
b = 10.1
c = 10 + 2j

print(dir(a), dir(b), dir(c))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes'] ['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setformat__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real'] ['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [ ]:
# 나이와 성별 정보가 담긴 리스트 생성
people = [
    ['John', 'male', 28],
    ['Jane', 'female', 32],
    ['Bob', 'male', 24],
    ['Alice', 'female', 29]
]

# 30세 이상의 여성을 찾는 함수 정의
def is_woman_over_30(person):
    name, gender, age = person
    return gender == 'female' and age >= 30

# 조건에 맞는 데이터 필터링
women_over_30 = []
for person in people:
    if is_woman_over_30(person):
        women_over_30.append(person)

# 결과 출력
print("30세 이상의 여성:", women_over_30)

30세 이상의 여성: [['Jane', 'female', 32]]

In [ ]:
# 중복된 요소가 있는 리스트
numbers = [6, 1, 3, 2, 5, 2, 1, 4, 5, 6, 2, 9, 7, 8, 9]

# 중복 제거 및 정렬
unique_sorted_numbers = sorted(set(numbers))

print(set(numbers))

# 결과 출력
print("중복 제거 후 정렬된 리스트:", unique_sorted_numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
중복 제거 후 정렬된 리스트: [1, 2, 3, 4, 5, 6, 7, 8, 9]