<a href="https://colab.research.google.com/github/mkdirlife/orm/blob/main/%EC%B1%85%EB%A7%8C%EB%93%A4%EA%B8%B0_pyalgo100_6%EB%B2%88%EA%B9%8C%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 파이알고100
# 01. 더하기
# 첫번째 방법
data = [1, 2, 3, 4, 5]
# data = [3, 5, 7, 1]

def solution(data):
    return sum(i for i in data if i % 2 != 0)

solution(data)

9

In [ ]:
# 파이알고100
# 01. 더하기
# 두번째 방법
# data = [1, 2, 3, 4, 5]
data = [3, 5, 7, 1]

def solution(data):
    sum_data = 0
    for i in data:
        if i % 2 != 0:
        	sum_data += i
    return sum_data

solution(data)

16

In [ ]:
# 파이알고100
# 02. 곱하기
# 첫번째 방법
#data = [1, 2, 3, 4, 5]
data = [3, 5, 7, 1]
def solution(data):
    count = 1
    if data == []:
        return 0
    else:
        for i in data:
            count *= i
        return count

solution(data)

105

In [ ]:
from functools import reduce
#data = [1, 2, 3, 4, 5]
data = [3, 5, 7, 1]

def solution(data):
    return reduce(lambda x, y: x * y, data)

solution(data)

105

In [ ]:
data = [3, 5, 7, 1]

def solution(data):
    num = 0 # 제한사항 4
    for i, val in enumerate(data):
        print(i)
        print(val)
        if i == 0:
            num = val
        else:
            num *= val
    return num

solution(data)

0
3
1
5
2
7
3
1

105

In [ ]:
# 파이알고100
# 03. 조건 덧셈
# 첫번째 방법
data = [1, 2, 3, 4, 5]
#data = [3, 5, 7, 1]

def solution(data):
    count = 0
    for i in data:
        if i % 3 != 0 and i % 5 !=0:
            count += i
    return count
solution(data)

7

In [ ]:
# 파이알고100
# 03. 조건 덧셈
# 두번째 방법
data = [1, 2, 3, 4, 5]
#data = [3, 5, 7, 1]

def solution(data):
    return sum(i for i in data if i % 3 != 0 and i % 5 != 0)
solution(data)

7

In [ ]:
# 파이알고100
# 04. 크리스마스 쿠키
# 랜덤추가
# 10개의 쿠키에서 3개의 임의 데이터를 뽑아서 계산하는 프로그램으로 처음에 만듬

import random
import re

data = ['쿠키 3개', '쿠키 2개', '쿠키 5개']
#data = ['쿠키 1개', '쿠키 2개', '쿠키 3개']

def solution(data):
    count = 0
    for i in range(1, 4):
        count += sum(map(int, re.sub(r'[^0-9]','', random.choice(data)) * i))
    return count
solution(data)

7

In [ ]:
# 파이알고100
# 04. 크리스마스 쿠키
# 첫번째 방법
import re

data = ['쿠키 3개', '쿠키 2개', '쿠키 5개']
#data = ['쿠키 1개', '쿠키 2개', '쿠키 3개']

def solution(data):
    count = 0
    for i in range(1, 4):
        count += sum(map(int, re.sub(r'[^0-9]','', data[i-1]) * i))
    return count

solution(data)

22

In [ ]:
data = ['쿠키 3개', '쿠키 2개', '쿠키 5개']
# 파이알고100
# 04. 크리스마스 쿠키
# 두번째 방법
def solution(data):
    count = 0
    for i in range(1, 4):
        # 숫자만 추출하여 합산
        num_sum = sum(int(j) for j in data[i-1] if j.isdigit())
        # 합계에 i를 곱하여 누적
        count += num_sum * i
    return count

solution(data)

22

In [ ]:
# 파이알고100
# 05. 1의 갯수 반환
# 첫번째 방법
data = [1, 11, 111, 1111]
# data = [10, 21, 31, 101]

def solution(data):
    count = 0

    for i in data:
        num_str = str(i)
        for j in num_str:
            if j == '1':
                count += int(j)
    return count

solution(data)

10

In [ ]:
# 파이알고100
# 05. 1의 갯수 반환
# 두번째 방법
data = [1, 11, 111, 1111]
#data = [10, 21, 31, 101]

def solution(data):
    count = 0
    for i in data:
        count += str(i).count('1')
    return count

solution(data)

10

In [ ]:
#data = [1, 11, 111, 1111]
data = [10, 21, 31, 101]

def solution(data):
    return str(data).count('1')

solution(data)

In [ ]:
# 파이알고100
# 06. 문자열 덧셈
# 첫번째 방법
data = '1hel2lo3'
# data = '1q2w3e4r'

def solution(data):
    count = 0
    for i in data:
        if i.isdigit():
            count += int(i)
    return count
solution(data)

10

In [ ]:
import re
# 파이알고100
# 06. 문자열 덧셈
# 두번째 방법
data = '1hel2lo3'
# data = '1q2w3e4r'

def solution(data):
    return sum(map(int, re.sub(r'[^0-9]', '', data)))
solution(data)

6

In [ ]:
# 파이알고100
# 07. 업무 우선순위
# 첫번째 방법
data = [['A', 3], ['B', 1], ['C', 2]]
#data = [['A', 1], ['B', 2], ['C', 3]]

def solution(data):
    return list(map(lambda x: x[0], sorted(data, key=lambda x: x[1])))

solution(data)

['B', 'C', 'A']

In [ ]:
# 07. 업무 우선순위
# 두번째 방법
data = [['A', 3], ['B', 1], ['C', 2]]
#data = [['A', 1], ['B', 2], ['C', 3]]

def solution(data):
    answer = []
    sorted_data = sorted(data, key=lambda x: x[1])
    for i in sorted_data:
        answer += i[0]
    return answer

solution(data)

['B', 'C', 'A']

In [ ]:
# 07. 업무 우선순위
# 세번째 방법
data = [['A', 3], ['B', 1], ['C', 2]]
#data = [['A', 1], ['B', 2], ['C', 3]]

def solution(data):
    sorted_data = sorted(data, key=lambda x: x[1])
    return [i[0] for i in sorted_data]

solution(data)

['B', 'C', 'A']

In [ ]:
# 07. 업무 우선순위
# 네번째 방법
data = [['A', 3], ['B', 1], ['C', 2]]
#data = [['A', 1], ['B', 2], ['C', 3]]

def solution(data):
    return [i[0] for i in sorted(data, key=lambda x: x[1])]

solution(data)

['B', 'C', 'A']

In [ ]:
# 08. 두 점 사이의 거리
# 첫번째 방법
#data = [1, 3, 5, 6, 10, 12, 19]
#data = [1, 3, 4, 6]
data = [1, 10, 20, 25, 31, 40]
def solution(data):
    sorted_data = sorted(data)
    return list(min(zip(sorted_data, sorted_data[1:]), key=lambda x: abs(x[0]- x[1])))
solution(data)

[20, 25]

In [ ]:
# 08. 두 점 사이의 거리
# 두번째 방법
data = [1, 3, 5, 6, 10, 12, 19]
# data = [1, 3, 4, 6]
# data = [[1, 10, 20, 25, 31, 40]]
def solution(data):
    sorted_data = sorted(data)
    zip(sorted_data, sorted_data[1:])
solution(data)

In [ ]:
# 08. 두 점 사이의 거리
# 세번째 방법안됨..
data = [1, 3, 5, 6, 10, 12, 19]
# data = [1, 3, 4, 6]
# data = [[1, 10, 20, 25, 31, 40]]

def solution(data):
    sorted_data = sorted(data)

    list(map(lambda x, y : abs(x-y), zip(sorted_data, sorted_data[1:])))


solution(data)

In [ ]:
# 8번
def solution(data):

    try:
        tmp_d = sum(data, []) # 2차원 데이터는 평탄화
    except:
        tmp_d = data # 1차원 데이터는 평탄화된 상태이므로 그대로 사용
    # print(tmp_d)

    dic = dict() # 숫자 조합을 키, 숫자 간 거리를 값 으로 하는 딕셔너리

    for i in range(len(tmp_d)-1):
        num1 = tmp_d[i] # 앞의 숫자
        num2 = tmp_d[i+1] # 뒤의 숫자
        dist = abs(num1 - num2) # 두 숫자의 거리
        dic[(num1, num2)] = dist

    # 딕셔너리를 값을 기준으로 정렬해서 키 값을 뽑아냄.
    sorted_data = sorted(dic.items(), key= lambda x: x[1])
    # 가장 작은 거리를 가지는 숫자 조합을 리스트로 출력
    res = list(sorted_data[0][0])
    return res

In [ ]:
# 09. 수학은 내가 1등
# 첫번째 방법
#data = [{'이름': 'A', '국': 30, '영': 20, '수': 85}, {'이름': 'B', '국': 95, '영': 98, '수': 10}]
data = [{'이름': 'A', '국': 21, '영': 33, '수': 54}, {'이름': 'B', '국': 32, '영': 43, '수': 11}]

# step 1 딕셔너리에서 key가 수 인것의 값을 꺼낸다.
def solution(data):
    score = 0
    name = ''
    for i in data:
        if i['수'] > score:
            score = i['수']
            name = i['이름']
    return name

solution(data)

'B'

In [ ]:
# 09. 수학은 내가 1등
# 두번째 방법
#data = [{'이름': 'A', '국': 30, '영': 20, '수': 85}, {'이름': 'B', '국': 95, '영': 98, '수': 10}]
data = [{'이름': 'A', '국': 21, '영': 33, '수': 54}, {'이름': 'B', '국': 32, '영': 43, '수': 11}]

# step 1 딕셔너리에서 key가 수 인것의 값을 꺼낸다.
def solution(data):
    return max(data, key=lambda x: x['수'])['이름']

solution(data)

'A'

In [ ]:
# 10. 게임 밸런스 조절
# 첫번째 방법
data = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]
# data = [['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]]
def solution(data):
    select_character = []

    # step1 3 ≤ 캐릭터의 수 ≤ 10
    if 3 <= len(data) <= 10:
        for i in data:
            if sum(i[1:]) >= 350 and all(list(map(lambda x:True if 10 <= int(x) <= 100 else False, i[1:]))):
                select_character.append(i[0])
        return sorted(select_character)
    else:
        print("캐릭터 수가 3 보다 크고 10 보다 작아야 합니다.")

solution(data)

['Licat']

In [ ]:
# 11. 평균 점수 카운팅
# 첫번째 방법
data = [[98, 92, 85], [95, 32, 51], [98, 98, 51]]
#data = [[92, 85, 97], [30, 21, 60], [90, 99, 98], [0, 0, 0], [81, 80, 88, 83]]

def solution(data):

    count = 0

    for i in data:
        total = 0
        for j in i:
            total += int(j)
            if (total / len(i)) > 80:
                count += 1

    return count

solution(data)

2

In [ ]:
# 11. 평균 점수 카운팅
# 두번째 방법
# data = [[98, 92, 85], [95, 32, 51], [98, 98, 51]]
data = [[92, 85, 97], [30, 21, 60], [90, 99, 98], [0, 0, 0], [81, 80, 88, 83]]

def solution(data):
    count = 0
    for i in data:
        if sum(i) / len(i) > 80:
            count += 1
    return count
solution(data)

3

In [ ]:
# 11. 평균 점수 카운팅
# 세번째 방법
# data = [[98, 92, 85], [95, 32, 51], [98, 98, 51]]
data = [[92, 85, 97], [30, 21, 60], [90, 99, 98], [0, 0, 0], [81, 80, 88, 83]]

def solution(data):
        return sum(sum(i) / len(i) > 80 for i in data)
solution(data)

3

In [ ]:
# 12. 우편 번호 정렬
# 첫번째 방법
data = [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'], {'A동': 63007, 'B동': 63010, 'C동': 63002}]

def solution(data):
    data1, data2 = data
    sorted_data2 = sorted(data2, key=lambda x: data2[x])
    sorted_data1 = sorted(data1, key=lambda x: sorted_data2.index(x.split()[1]))
    return sorted_data1
solution(data)

['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']

In [ ]:
# 13. 도서관 책 연도별 정렬
# 첫번째
data = [['Moby Dick', 'To Kill a Mockingbird', '1984'], {'Moby Dick': 1851, 'To Kill a Mockingbird': 1960, '1984': 1949}]

def solution(data):
    data1, data2 = data

    sorted_data2 = sorted(data2, key=lambda x: data2[x])    # 키를 값에 따라 오름차순으로 정렬
    sorted_data1 = sorted(data1, key=lambda x: sorted_data2.index(x))
    return sorted_data1

solution(data)

['Moby Dick', '1984', 'To Kill a Mockingbird']

In [ ]:
# 14. 도서관 책 위치 정렬
# 첫번째
data = {'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'}

def solution(data):
    sorted_data = sorted(data.items(), key=lambda x: x[0])
    sorted_data_value = [value for key, value in sorted_data]
    return sorted_data_value

solution(data)

['Moby Dick', '1984', 'To Kill a Mockingbird']

In [ ]:
# 14. 도서관 책 위치 정렬
# 두번째
data = {'AX21': 'Moby Dick', 'BX32': '1984', 'CX14': 'To Kill a Mockingbird'}

def solution(data):
    # 키를 알파벳 순으로 정렬
    sorted_key = sorted(data)

    # 정렬된 키에 해당하는 값을 순서대로 추출
    sorted_values = [data[key] for key in sorted_key]

    return sorted_values

solution(data)

['Moby Dick', '1984', 'To Kill a Mockingbird']

In [ ]:
# 15. 위니브 회의 시간표 정렬
# 첫번째
data = ['01:00 PM', '11:30 AM', '12:45 PM', '09:00 AM', '12:00 AM']

def solution(data):
    answer = {}
    for x, i in enumerate(data, 0):
        if i.split()[1] == 'PM' and int(i[:2]) < 12:
            i = i.replace(i[:2], str(int(i[:2])+12))
            answer.update({i: data[x]})
        elif i.split()[1] == 'AM' and int(i[:2]) == 12:
            i = i.replace(i[:2], '00')
            answer.update({i: data[x]})
        else:
            answer.update({i: data[x]})
    return [answer[key] for key in sorted(answer)]

solution(data)

['12:00 AM', '09:00 AM', '11:30 AM', '12:45 PM', '01:00 PM']

In [ ]:
# 16. 뮤라의 휴가 입력
# 첫번째
#data = ['20-01-2024', '12/15/2023', '2022.05.30']
data = ['03/25/2021', '2020.12.31', '15-04-2022']

def solution(data):
    flat_data = []
    for i in data:
        if len(i.split('-')[0]) == 2:
            flat_data.append(i.split('-')[2] + '/' + i.split('-')[1] + '/' + i.split('-')[0])
        elif len(i.split('/')[0]) == 2:
            flat_data.append(i.split('/')[2] + '/' + i.split('/')[0] + '/' + i.split('/')[1])
        else:
            flat_data.append(i.split('.')[0] + '/' + i.split('.')[1] + '/' + i.split('.')[2])
    sorted_data = sorted(flat_data)
    return sorted_data
solution(data)

['2020/12/31', '2021/03/25', '2022/04/15']

In [ ]:
# 17. 라이캣 CEO의 최근 일정 3개
# 첫번째
data = {'월': ['2024-01-01', '2024-01-08', '2024-01-15', '2024-01-22'], '화': ['2024-01-02', '2024-01-09', '2024-01-16'], '수': ['2024-01-03', '2024-01-10'], '목': ['2024-01-04', '2024-01-11', '2024-01-18'], '금': ['2024-01-05', '2024-01-12', '2024-01-19', '2024-01-26']}

def solution(data):
    flat_data = []

    # 딕셔너리 data 를 key 값과 value 로 구분
    for key, value in data.items():
        for i in value:
            # value 에서 값을 하나씩 꺼내서 앞에 2글자 자르고, 키값 합쳐서 flat_data에 넣는다.
            flat_data.append(i[2:] + " " + key)
    # flat_data 앞에 3개만 출력
    return sorted(flat_data, reverse=True)[:3]

solution(data)

['24-01-26 금', '24-01-22 월', '24-01-19 금']

In [ ]:
# 18. 주간 최고 온도 기록 분석
# 첫번째
data = {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}

def solution(data):

    # 값 기준으로 정렬
    sorted_data = sorted(data, key=lambda x: data[x], reverse=True)
    select_data = []

    for i in sorted_data:
        for key, value in data.items():
            if i == key:
                select_data.append(i[2:] + ": " + str(value))
    return select_data[:3]

solution(data)

['24-01-06: 21', '24-01-04: 20', '24-01-05: 19']

In [ ]:
# 19. 데이터 타입 확인
# 첫번째
data = [123, 4.56, 'hello', [1, 2, 3], (4, 5), {'a': 1, 'b': 2}]

def solution(data):
    answer = []
    for i in data:
        answer.append(str(type(i))[8:-2])
    return answer

solution(data)

['int', 'float', 'str', 'list', 'tuple', 'dict']

In [ ]:
# 19. 데이터 타입 확인
# 두번째
data = [123, 4.56, 'hello', [1, 2, 3], (4, 5), {'a': 1, 'b': 2}]

def solution(data):
    return [str(type(i))[8:-2] for i in data]

solution(data)

['int', 'float', 'str', 'list', 'tuple', 'dict']

In [ ]:
# 20. 타입 확인
# 첫번째
#data = [('list', [1, 2, 3]), ('int', 4), ('str', 'hello')]
data = [('str', 100), ('dict', {'a': 1}), ('tuple', (1, 2, 3))]

def solution(data):
    for i in data:
        if i[0] != str(type(i[1]))[8:-2]:
            return False
    return True

solution(data)

False

In [ ]:
# 21. 숫자 배열 탐색
# 첫번째
data = ([1, 3, 5, 7, 9], 5)
#data = ([2, 4, 6, 8, 10], 7)

def solution(data):
    data1, data2 = data
    for num, value in enumerate(data1, 0):
        if value == data2:
            return num
    return False
solution(data)

2

In [ ]:
# 21. 숫자 배열 탐색
# 두번째
data = ([1, 3, 5, 7, 9], 5)
# data = ([2, 4, 6, 8, 10], 7)

def solution(data):
    data1, data2 = data
    try:
        return data1.index(data2)
    except ValueError:
        return False
solution(data)

2

In [ ]:
# 22. 문자열 탐색
# 첫번째
# data = ('hello', 'e')
data = ('world', 'a')
def solution(data):
    data1, data2 = data
    for i in data1:
        if i == data2:
            return data1.index(i)
    return False
solution(data)

False

In [ ]:
# 22. 문자열 탐색
# 첫번째
data = ('hello', 'e')
#data = ('world', 'a')
def solution(data):
    data1, data2 = data
    try:
        return data1.index(data2)
    except ValueError:
        return False
solution(data)

1

In [ ]:
# 23. 2차원 배열 탐색
# 첫번째
#data = ([[1, 3, 5], [7, 9, 11], [13, 15, 17]], 7)
data = ([[2, 4, 6], [8, 10, 12], [14, 16, 18]], 13)

def solution(data):
    data1, data2 = data
    for value_list in data1:
        for i in value_list:
            if i == data2:
                return True
    return False

solution(data)

False

In [ ]:
# 23. 2차원 배열 탐색
# 두번째
data = ([[1, 3, 5], [7, 9, 11], [13, 15, 17]], 7)
#data = ([[2, 4, 6], [8, 10, 12], [14, 16, 18]], 13)

def solution(data):
    data1, data2 = data
    data1 = sum(data1, [])
    return True if data2 in data1 else False

solution(data)

True

In [ ]:
# 23. 2차원 배열 탐색
# 세번째
data = ([[1, 3, 5], [7, 9, 11], [13, 15, 17]], 7)
#data = ([[2, 4, 6], [8, 10, 12], [14, 16, 18]], 13)

def solution(data):
    data1, data2 = data
    data1 = sum(data1, [])
    return any(i == data2 for i in data1)

solution(data)

True

In [ ]:
# 24. 연속 수열의 최대합
# 첫번째
#data = [1, -2, 3, 4, -1, 2, 1, -5, 4]
data = [-2, -3, 4, -1, -2, 1, 5, -3]

def solution(data):
    # 배열의 첫번째 값으로 현재값과 가장 큰 값을 설정
    currentValue = maxValue = data[0]

    # 첫번째는 빼고, 순회
    for num in data[1:]:
        currentValue = max(num, currentValue + num)
        maxValue = max(maxValue, currentValue)

    return maxValue

solution(data)

7

In [79]:
# 25. 소수 찾기
# 첫번째
data = 9
def solution(data):

    # 2보다 작은 숫자내에는 소수가 없으므로 0 리턴
    if data < 2:
        return 0

    # 0부터 시작이라 입력받은 숫자보다 1 큰 숫자만큼 리스트를 만든다.
    che_list = [True] * (data+1)
    # 0과 1은 소수가 아니라 False
    che_list[0] = che_list[1] = False

    # 입력 받은 수의 최대 약수가 n제곱근 이하 이므로 루트씌우고 1더함
    for i in range(2, int(data ** 0.5) + 1):

        # 2부터 숫자 하나씩 검사
        if che_list[i] == True:
            # i의 배수들을 False로 판정
            for j in range(i+i, data+1, i):
                che_list[j] = False

    return che_list.count(True)

solution(data)

3
3

4

In [30]:
# 26. 최대 합계 배열 찾기
# 첫번째
data = ([1, 3, 2, 6, -1, 4, 1, 8, 2], 5)
#data = ([4, 2, 1, 7, 8, 1, 2, 8, 1, 0], 3)

def solution(data):

    # 순회할 data_list 와 더해줄 배열의 개수를 count로 할당
    data_list, count = data

    # count 수 만큼 유지할 리스트
    select_list = []

    # 리턴해줄 최대값
    answer_value = 0

    # 순회
    for i in data_list:

        if len(select_list) != count:   # 리스트 크기가 count 와 다를때
            # select_list 에 더해준다.
            select_list.append(i)
        else:                           # 리스트 크기가 count 와 같을때
            # select_list 의 합과 answer_value 중 큰 값을 answer_value 에 할당
            answer_value = max(sum(select_list), answer_value)
            # select_list 의 제일 첫번째 값을 리스트에서 제외
            select_list.pop(0)
            # select_list에 마지막에 값을 추가해서 select_list 의 크기를 count 와 같게 만든다.
            select_list.append(i)

    return answer_value

solution(data)

18

In [32]:
# 26. 최대 합계 배열 찾기
# 두번째
data = ([1, 3, 2, 6, -1, 4, 1, 8, 2], 5)
#data = ([4, 2, 1, 7, 8, 1, 2, 8, 1, 0], 3)

def solution(data):

    # 순회할 data_list 와 더해줄 배열의 개수를 count로 할당
    data_list, count = data

    # 첫번째부터 count 까지의 합을 select_value 에 할당
    select_value = sum(data_list[:count])

    # 리턴해줄 최대값은 select_value 와 같다.
    answer_value = select_value

    # count 다음 자리부터 순회돌면 된다.
    for i in range(len(data_list) - count):
        # select_value 에서 배열의 i번째 자리 빼주고, count 더한 자리의 데이터를 더해준다.
        select_value = select_value - data_list[i] + data_list[i + count]
        answer_value = max(select_value, answer_value)
    return answer_value

solution(data)

18

In [44]:
# 27. 작은 길이 부분 배열 찾기
# 첫번째
data = ([2, 1, 5, 2, 3, 2], 7)
#data = ([1, 1, 1, 1, 1, 1, 1], 11)
def solution(data):
    data_list, target_num = data

    select_list = []
    min_value = 0
    answer_len = 0

    for i in data_list:
        if min_value <= target_num:
            print(i, min_value, answer_len)
            select_list.append(i)
            min_value = sum(select_list)
        else:
            print(i, min_value, answer_len)
            answer_len = len(select_list)
            min_value = min(min_value, min_value - i)

    return answer_len
solution(data)

2 0 0
1 2 0
5 3 0
2 8 0
3 6 3
2 11 3

4

In [106]:
# 28. 가장 가까운 합 찾기
# 첫번째
#data = ([1, 2, 3, 4, 5], 10)
data = ([2, 3, 5, 8, 12], 11)

def solution(data):
    data_list, target = data

    close_num = 0

    # 두수의 합을 찾기 위해 중첩 for문 사용
    for i in range(0, len(data_list)):      # 0 부터 리스트 길이만큼
        for j in range(i, len(data_list)):  # i 부터 리스트 길이만큼 2 + 3 했으면 3 + 2 제외 위함
            if i == j:      # 같은 수 끼리 더하는 경우 제외
                continue
            else:
                # 두수의 합에서 target 숫자를 빼고 나온수 와 임의의 가까운 수에서 target 숫자를 뺀수를 비교
                # 기존 수보다 작으면 가까운 수 변경
                if abs(data_list[i] + data_list[j] - target) < abs(close_num - target):
                    close_num = data_list[i] + data_list[j]
    return close_num

solution(data)

10

In [118]:
# 29. 단일 숫자 찾기
# 첫번째
#data = [4, 1, 2, 1, 2]
data = [2, 2, 1]
def solution(data):

    select_dict = {}

    for i in data:
        if i in select_dict:
            select_dict[i] += 1
        else:
            select_dict[i] = 1

    for key, value in select_dict.items():
        if value == 1:
            return key

solution(data)

{2: 2, 1: 1}

1

In [126]:
# 29. 단일 숫자 찾기
# 두번째
data = [4, 1, 2, 1, 2]
#data = [2, 2, 1]
def solution(data):

    select_num = 0

    for i in data:
        select_num ^= i
    return select_num

solution(data)

0b0 0b100
0b100
0b100 0b1
0b101
0b101 0b10
0b111
0b111 0b1
0b110
0b110 0b10
0b100

4

In [137]:
# 30. 비트 치환 문제
# 첫번째
data = 5
#data = 9
def solution(data):

    answer_str = ''

    for i in bin(data)[2:]:
        if i == '1':
            answer_str += i.replace('1', 'A')
        else:
            answer_str += i.replace('0', 'B')
    return answer_str

solution(data)

'ABA'