<a href="https://colab.research.google.com/github/mkdirlife/orm/blob/main/%EC%98%A4%EB%A6%84%EC%BA%A0%ED%94%84_2%EC%A3%BC%EC%B0%A8_2%EC%9D%BC_%EA%B5%AC%EA%B8%80%EC%BD%94%EB%9E%A9_%EB%AC%B8%EC%9E%90%EC%97%B4_%ED%98%95%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1.1 문자열 기초

x = 'hello'
y = "python"

In [ ]:
print(x, y)

hello python

In [ ]:
print(type(x), type(y))

<class 'str'> <class 'str'>

In [ ]:
i = '''안녕하세요.
저는 공부하고 싶은 남자입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.
'''
j = """안녕하세요.
저는 공부하고 싶은 학생입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.
"""

In [ ]:
print(i)

안녕하세요.
저는 공부하고 싶은 남자입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.

In [ ]:
print(j)

안녕하세요.
저는 공부하고 싶은 학생입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.

In [ ]:
i

'안녕하세요.\n저는 공부하고 싶은 남자입니다.\n파이썬 참 좋아요.\n여러분 정말 잘 선택하셨어요.\n'

In [ ]:
# 1.2 문자열 덧셈, 곱셈

# 문자열의 덧셈
x = 'hello'
y = 'world'
print(x+y)

x = '10'
y = '20'
print(x+y)

# 문자열의 곱셈
print(x * 100)

helloworld
1020
10101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010

In [ ]:
# 1.3 문자열 인덱싱

s = '위니브 월드!'

print(s[0]) # 출력 : '위'
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])

print(s[-1]) # 출력 : '!'
print(s[-2])
print(s[-3])
print(s[-4])
print(s[-5])
print(s[-6])
print(s[-7])
# 오류
#print(s[-8])

위
니
브

월
드
!
!
드
월

브
니
위

In [ ]:
# 1.4 문자열 슬라이싱

s = '위니브 월드 외곽'

print(s[0:8])
print(s[0:])
print(s[1:8])
print(s[0::2])

위니브 월드 외
위니브 월드 외곽
니브 월드 외
위브월 곽

In [ ]:
s = 'weniv CEO licat'

# 인덱스 6자리부터 끝까지 출력
print(s[6:15]) # 출력 : CEO licat
# 인덱스 처음부터 끝까지 출력
print(s[:]) # 출력 : weniv CEO licat
#인덱스 처음부터 끝까지 뒤에서 부터 출력
print(s[::-1]) # 출력 : tacil OEC vinew
#인덱스 처음부터 끝까지 2칸 간격으로 출력
print(s[::2]) # 출력 : wnvCOlct

CEO licat
weniv CEO licat
tacil OEC vinew
wnvCOlct

In [ ]:
# .png 빼고 출력

s = 'weniv_licat.png'
print(s[:11])
print(s[:-4])

weniv_licat
weniv_licat

In [ ]:
# .png 만 출력

s = 'weniv_licat.png'
print(s[11:15])
print(s[-4:])
print(s[-1:-4])

.png
.png

In [ ]:
# 1.5 슬라이스 복사 - 다만 ID가 달라짐
s = [1, 2, 3]
ss = s[:]

print(s, ss)
print(id(s), id(ss))

[1, 2, 3] [1, 2, 3]
131948187000192 131948185156352

In [ ]:
# 1.6 대문자 소문자

s = 'weniv CEO licat'

s.lower() #전체를 소문자로 바꿔주는 method

'weniv ceo licat'

In [ ]:
s = 'weniv CEO licat'

s.upper() #전체를 대문자로 바꿔주는 method

'WENIV CEO LICAT'

In [ ]:
# 1.7 메서드 2: find index

s = 'weniv CEO licat'
s.find('CEO')
s.index('CEO')

#s.find('CTO')    # 없을때 -1 반환
#s.index('CTO')   # 없을때 에러 발생

6

In [ ]:
# 1.8 메서드 3 : count

s = 'weniv CEO licat'
s.count('CEO')
s.count(' ')

# 공백 찾을 수 있음
# 대소문자 구분

2

In [ ]:
# 1.9 메서드 4 : strip / excel -trim()
# strip 함수를 너무 신뢰하지 말아라! 미세하게 조정이 안되는 경우 있음

s = '    weniv CEO licat     '
s.strip() #양쪽 공백을 제거하는 method

'weniv CEO licat'

In [ ]:
'    ,!!  hello world   '.strip(', !h')
#양쪽의 공백과 ',!'을 제거해주는 method

'ello world'

In [ ]:
# 1.10 메서드 5 : replace
# 대소문자 구분함

s = 'weniv CEO licat'
ss = s.replace('CEO', 'CTO')
s, ss
print(s, ss)

weniv CEO licat weniv CTO licat

In [ ]:
# 1. 11 메서드 6 : split()
# split은 리스트 형태로 결과가 나오게 된다.

s = 'weniv CEO licat'
s.split() #공백을 기준으로 문자열 나누기

['weniv', 'CEO', 'licat']

In [ ]:
s = 'weniv-CEO-licat'
s.split('-') #공백을 기준으로 문자열 나누기

['weniv', 'CEO', 'licat']

In [ ]:
# 1. 12 메서드 7 : join()
s = ['weniv', 'CEO', 'licat']
'-'.join(s).split('-')
'-'.join('-'.join(s).split('-')).split('-')

['weniv', 'CEO', 'licat']

In [ ]:
# 1.12 isdigit / isalpha

s = '123s'
s.isdigit()

False

In [ ]:
# 1.13 rjust

s = 'licat'       # 5글자 - 10글자를 채워야 하면 5글자가 공백! -> - 으로 채우는
s.rjust(10, '-')  #문자열을 지정한 길이로 맞추고, 왼쪽을 '-'로 채우는 method

'-----licat'

In [ ]:
# 1.13 ljust

s = 'licat'       # 5글자 - 10글자를 채워야 하면 5글자가 공백! -> - 으로 채우는
s.ljust(10, '-') #문자열을 지정한 길이로 맞추고, 오른쪽을 '-'로 채우는 method

'licat-----'

In [ ]:
s = '458934-1'
s.ljust(14, '*')

'458934-1******'

In [ ]:
# 1.13 center

s = 'licat'       # 5글자 - 10글자를 채워야 하면 5글자가 공백! -> - 으로 채우는
s.center(11, '-') #문자열을 지정한 길이로 맞추고, 양쪽을 '-'로 채우는 method

'---licat---'

In [ ]:
# 1. 14 zfill()
# 문자열 고객번호 '0000000012' -> CSV -> 숫자 12 -> 파이썬 -> 숫자 12 '000000043112'

x = "42"
result = x.zfill(5)
print(result) # 00042

00042

In [ ]:
y = "-42"
result = y.zfill(5)
print(result) # -0042

-0042

In [ ]:
z = "abc"
result = z.zfill(5)
print(result) # 00abc

00abc

In [ ]:
# 파일명의 길이를 동일하게 유지할때

filename = '1'.zfill(3) + ".jpg"
print(filename)

001.jpg

In [ ]:
년 = '23'
월 = '9'
일 = '8'
오늘날짜 = 년 + 월 + 일
print(오늘날짜)
오늘날짜 = 년 + 월.zfill(2) + 일.zfill(2)
print(오늘날짜)

2398
230908

In [ ]:
# 1.15 Translate

# 변환 테이블 생성
table = str.maketrans("abc", "123")

In [ ]:
text = 'abcde'
result = text.translate(table)
print(result)   # 123de

123de

In [ ]:
# 'd'와 'e' 문자 제거하기
table = str.maketrans('', '', 'de')
text = "abcde d e.           d  e  dede"
result = text.translate(table)
print(result)

abc  .

In [ ]:
table = str.maketrans('\n\t', '  ')
text = '''안녕하세요.
저는 공부하고 싶은 남자입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.
'''
result = text.translate(table)
print(result)

안녕하세요. 저는 공부하고 싶은 남자입니다. 파이썬 참 좋아요. 여러분 정말 잘 선택하셨어요.

In [ ]:
name = 'licat'
age = 29
s = f'{name[2:]}, {age+10}!'
print(s) # licat, 39!

cat, 39!

In [ ]:
print("Hello\nWorld!") # Hello와 World! 사이에 줄바꿈이 일어납니다.
print("Hello\tWorld!") # Hello와 World! 사이에 탭 간격이 생깁니다.
print("She said, \"Hello World!\"") # 큰따옴표 내부에 문자열을 출력합니다.
print('She said, \'Hello World!\'') # 작은따옴표 내부에 문자열을 출력합니다.
print("Backslash: \\") # 백슬래시를 출력합니다.

Hello
World!
Hello	World!
She said, "Hello World!"
She said, 'Hello World!'
Backslash: \

In [ ]:
print("hello\nWorld!\nhello\tworld!\nShe said, \"Hello World!\"\nShe said, \'Hello World!\'\nBackslash: \\")

hello
World!
hello	world!
She said, "Hello World!"
She said, 'Hello World!'
Backslash: \

In [ ]:
dir(None)

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
'-'.join().replace('0, 'x')

SyntaxError: ignored

AttributeError: ignored

# 4. 형변환

In [ ]:
# 1. 형변환 기본 예제

월급 = input("월급을 입력하세요:")

# 문자열 수행으로 오류
연봉 = 월급 * 12
print(연봉)

# 제대로 수행 - 형변환 해야함
연봉 = int(월급) * 12
print(연봉)

월급을 입력하세요:1000
100010001000100010001000100010001000100010001000
12000

In [ ]:
# 4.2 소수형 -> 정수형

f = 3.14159
number = int(f)
print(number)   # 출력 3

3

In [ ]:
# 4.3 불린 -> 정수형

true_int = int(True)
false_int = int(False)

print(true_int)  # 출력: 1
print(false_int)  # 출력: 0

1
0

In [ ]:
print(int(None))

TypeError: ignored

In [ ]:
s = 'hello'
print(type(s))

s = int(s) # error
print(type(s))

<class 'str'>

ValueError: ignored

In [ ]:
# 4.5 str 형변환

n = 123
print(type(n))
print(n)

m = 123.4
print(type(n))
print(m)

n = str(n)
print(type(n))
print(n)

m = str(m)
print(type(m))
print(m)

<class 'int'>
123
<class 'int'>
123.4
<class 'str'>
123
<class 'str'>
123.4

In [ ]:
num = 123.1
num = str(num)
num = int(num)
print(num)

ValueError: ignored

In [ ]:
print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))
print(bool(bool()))

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False
False

In [ ]:
s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(float(s))

10.0
10.0
3.14

In [ ]:
infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan') # None, NA 등과 헷갈리긴 하는데 약간씩 다름

print(infinity)
print(neg_infinity)
print(not_a_number)

inf
-inf
nan

In [ ]:
print(infinity)
print(neg_infinity)
print(not_a_number)

inf
-inf
nan

In [ ]:
x = 1.0
x = str(x)
if x.find('.') == -1:
    print(int(x))
else:
    print(float(x))

1.0

In [ ]:
x = 1.0
x = str(x)
int(float(x))

1

In [ ]:
list(map(int, ['10', '20', '30'])) # 출력: [10, 20, 30]

[10, 20, 30]

In [ ]:
list(map(int, '12345')) # 출력: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]