<a href="https://colab.research.google.com/github/mkdirlife/orm/blob/main/%EC%98%A4%EB%A6%84%EC%BA%A0%ED%94%84_2%EC%A3%BC%EC%B0%A8_3%EC%9D%BC_%EA%B5%AC%EA%B8%80%EC%BD%94%EB%9E%A9_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 논리연산

In [ ]:
for i in range(101): # 0부터 100까지를 반복합니다.
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
def test1():
    print("test1 함수 호출!")
    return False

def test2():
    print("test2 함수 호출!")
    return True

# 가장 많이 걸러지는 조건을 맨 앞에 두어야 리소스를 줄일 수 있다.
result = test1() and test2()
print(result) # 결과: False

test1 함수 호출!
False

In [ ]:
# 퀴즈 1
True and False #

False

In [ ]:
1 or 0

1

# 2. 할당연산자

In [ ]:
x = 5
y = 2
z = 10

x1 = y * z
x2 = x + (y * z)
x += y * z  # y * z 연산 후 x에 값을 더한 뒤에 할당합니다.

print(x1)
print(x2)
print(x)  # 결과: 25

20
25
25

In [ ]:
x += y * z
print(x)

45

In [ ]:
x = 9
y = 6
z = 3

x //= y
y /= z

print(x, y, z)

1 2.0 3

# 3. 식별연산

In [ ]:
# 1. -5 ~ 256 같은 주소를 바라 보고 있지만 그 범위 이하 이상 일때는 주소가 달라진다.

coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)

True
True

In [ ]:
print(id(coffee_employee), id(orange_employee))

135165306382576 135165306382576

In [ ]:
#2. 예시 2

a = [1, 2, 3] # 리스트형인 [1,2,3]
b = [1, 2, 3] # 리스트형인 [1,2,3]
c = a         # # 리스트형인 [1,2,3] 다만 a에 있는 것을 재할당!

print(a, b, c)
print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)
print('b is c', b is c)

print(id(a), id(b), id(c))

[1, 2, 3] [1, 2, 3] [1, 2, 3]
a == b True
a == c True
a is b False
a is c True
b is c False
135165446452160 135165446451584 135165446452160

# 4. 멤버연산

In [ ]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'

print(1 in a) # 출력: True
print(0 not in a) # 출력: True
print([2] in b) # 출력: False
print([1, 2] in b) # 출력: False
print('h' in c) # 출력: True
print(c in 'h') # 출력: True
print('hello ' in c) # 출력: True

True
True
False
False
True
False
True

In [ ]:
# 자료형태를 잘 파악하셔서 In을 사용하셔야 된다.
a_1 = [[1, 2], [2], 3, 4]
#리스트 안에 있는 값은 정수형 3, 4 / 리스트형 [1, 2], [2]

In [ ]:
print([2] in a_1) # 출력: True

True

In [ ]:
print([1, 2] in a_1) # 출력: True

True

# 5. 연산자 순서

In [ ]:
-2 ** 2 # 출력: -4, -(2 ** 2)

-4

In [ ]:
(-2) ** 2 # 출력: 4

4

In [ ]:
True * True and True + False # 출력: 1 , ((True * True) and (True + False))

1

In [ ]:
# 복합 할당 연산자가 가장 나중입니다!
a = 10
a *= 10 + 100
a # 출력: 1100

1100

In [ ]:
 greeting = "안녕하세요"
 print("안녕" in greeting)

True

In [ ]:
 result = 2 + 3 * 4
 print(result)

14

In [ ]:
result = 10 / 2 * 4 - 3
print(result)

17.0

In [ ]:
 result = 2 ** 3 * 3 + 4 / 2 - 5
 print(result)

21.0

In [ ]:
# 연습문제
# 1번
a = 100
print((a > 100) and (a < 200))   # False
print((a > 100) or (a < 200))    # True
print((a >= 100) and (a <= 200)) # True
print((a >= 100) or (a <= 200))  # True

False
True
True
True

In [ ]:
# 2번
b = 25
(b % 2 == 0) and (b % 5 == 0) # False

False

In [ ]:
# 3번
c = 1000
print(c / 100)
# 결과값은 10입니다.

10.0

In [ ]:
# (심화문제) 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.
money = input("금액을 입력해주세요 : ")

# 5,000원 지폐 계산
num5000count = int(int(money) / 5000)
na5000count = int(int(money) % 5000)

# 1,000원 지폐 계산
num1000count = int(na5000count / 1000)
na1000count = int(na5000count % 1000)

# 100원 동전 계산
num100count = int(na1000count / 100)
na100count = int(na1000count % 100)

print(f"\n입력한 금액은 \n5,000원권 {num5000count}장, \n1,000원권 {num1000count}장, \n100원 동전 {num100count}개 로 바꿀 수 있고, \n남은 금액은 {na100count}원 입니다.")

금액을 입력해주세요 : 584250

입력한 금액은
5,000원권 116장,
1,000원권 4장,
100원 동전 2개 로 바꿀 수 있고,
남은 금액은 50원 입니다.

In [ ]:
def calculate_change(money, denomination):
    """특정 금액의 화폐 수와 남은 금액을 계산합니다."""
    count = money // denomination
    remaining = money % denomination
    return count, remaining

# 사용자로부터 금액 입력 받기
money = int(input("금액을 입력해주세요 : "))

# 각 화폐 단위에 대한 계산
num5000, remainder = calculate_change(money, 5000)
num1000, remainder = calculate_change(remainder, 1000)
num100, remainder = calculate_change(remainder, 100)

# 결과 출력
print(f"\n입력한 금액은 \n5,000원권 {num5000}장, \n1,000원권 {num1000}장, \n100원 동전 {num100}개 로 바꿀 수 있고, \n남은 금액은 {remainder}원 입니다.")

금액을 입력해주세요 : 85420

입력한 금액은
5,000원권 17장,
1,000원권 0장,
100원 동전 4개 로 바꿀 수 있고,
남은 금액은 20원 입니다.

## 실습2

1. **사용자 입력 받기**:
    - **`input()`** 함수를 사용하여 제품의 원가와 할인율을 입력받습니다.
2. **문자열을 숫자로 변환**:
    - 입력받은 원가와 할인율을 각각 **`float()`** 함수를 사용하여 실수로 변환합니다.
3. **할인된 가격 계산**:
    - 할인된 가격을 계산하는 공식을 사용합니다. (할인된 가격 = 원가 - (원가 × 할인율 / 100))
4. **결과 출력**:
    - 계산된 할인된 가격을 **`print()`** 함수를 사용하여 출력합니다.

In [ ]:
# 제품의 원가와 할인율 입력 받기
original_price = float(input("원가를 입력하세요 : "))
discount_rate = float(input("할인율을 입력하세요 : "))

# 할인된 가격 계산
discounted_price = original_price - (original_price * discount_rate / 100)

# 결과 출력
print("할인이 적용된 가격은 ", discounted_price, "원 입니다.")

원가를 입력하세요 : 8000
할인율을 입력하세요 : 16
할인이 적용된 가격은  6720.0 원 입니다.

In [ ]:
name = input("이름을 입력하세요 : ")
age = int(input("나이를 입력하세요 : "))

age += 1

if 18 <= age :
    adult = True
else :
    adult = False

print(f"계산된 나이는 {age}살 이고, 이름의 길이는 {len(name)}자 이고, 성인 여부는 {adult} 입니다. ")

이름을 입력하세요 : 전은지
나이를 입력하세요 : 16
계산된 나이는 17살 이고, 이름의 길이는 3자 이고, 성인 여부는 False 입니다.