<a href="https://colab.research.google.com/github/mkdirlife/orm/blob/main/%EC%98%A4%EB%A6%84%EC%BA%A0%ED%94%84_2%EC%A3%BC%EC%B0%A8_4%EC%9D%BC_%ED%8A%9C%ED%94%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플
* 순서가 있는 자료형입니다.(인덱싱, 슬라이싱)
* 참조 변경, 불가(값이 변경이 불가하다고 얘기하면 이것은 틀린 얘기입니다.)

In [ ]:
t = (10, 20, 30)    # 소괄호

In [ ]:
t[0]

10

In [ ]:
t[1:]

(20, 30)

In [ ]:
# t[0] = 1000   # 불가능

In [ ]:
# 왜 이런 자료형이 필요할까요?
# * 권한과 변경불가(시큐어 코딩), 형태 고정인 자료형(딕셔너리와 같은 것)
# 내부자 소행인 경우가 가장 많습니다.(사회공학 해킹)

# 변경이 불가능 한데 왜 값이 변경이 불가하다고 얘기하면 틀린 얘기라고 했을까요?
a = [10, 20, 30]
b = (a, 100, 200)

a[0] = 1000
b

([1000, 20, 30], 100, 200)

In [ ]:
{'one': 1, 'two' : 2}.items()

dict_items([('one', 1), ('two', 2)])

In [ ]:
t = (10, 20, 30)
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t.count(10) # 10의 개수를 반환
t.index(10) # 10의 위치를 반환

print(t.count(10)) # 10의 개수를 반환
print(t.index(10)) # 10의 위치를 반환

1
0

In [ ]:
tuple([10, 20, 30])

# tuple(순회가능한 객체)
#list(순회가능한 객체)

tuple('hello world')
list('hello world')

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

# 딕셔너리

* 순서가 있는 자료형?
* 3.6 버전 이상은 순서가 보장됩니다.(순서가 있다 인덱스로 호출이 안된다)
* 실무에서는 Python 버전? 요기요 => Djanggo 1.x 사용중
  실무에서 사용하는 python 버전은 생각보다 낮습니다. 이 점 주의해주세요.
  (신규프로젝트 하지 않는한 최신버전 쓸 일이 없다.)
* 'key: value' 쌍으로 이뤄져 있습니다.  
* 딕셔너리 데이터 검색은 매우 빠릅니다.
* 딕셔너리 사용은 주의를 요합니다. 딕셔너리는 key가 업슨ㄴ 것을 호출하면 error가 납니다.

In [ ]:
d = {'one': '하나', 'two': '둘'}
d['one']

dir(d)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# d['three']
d.get('three')  # get 메서드를 사용하시길 권합니다!
d.get('one', '없는 값입니다!')  # get 메서드를 사용하시길 권합니다!

'하나'

In [ ]:
def f(x):
    return {
            0: '일요일',
            1: '월요일',
            2: '화요일',
            3: '수요일',
            4: '목요일',
            5: '금요일',
            6: '토요일',
        }.get(x, '요일없음')

f(5)

'금요일'

In [ ]:
x = 3
{
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}.get(x, '요일없음')

'수요일'

In [ ]:
# match 문법이 나오기 전까지 많이 사용했었습니다.
# 지금도 많이 사용하는 문법입니다.
# match 문법은 이런 문법이 있는지 모르시는 시니어 프로그래머 분들도 많습니다.

x = 3

y = {
    0: '일요일',
    1: '월요일',
    2: '화요일',
    3: '수요일',
    4: '목요일',
    5: '금요일',
    6: '토요일',
}

y.get(x, '요일없음')

'수요일'

In [ ]:
!python --version

Python 3.10.12

In [ ]:
d = {'one': '하나', 'two': '둘'}

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# 실제로 이와 같은 key: value 의 쌍을 게시물 저장하는 형태 등으로 사용합니다.

게시물1 = {
    'title': '파이썬이 이렇게 어려울 줄이야!!?',
    'contents': '파이썬을 깊게 알아갈 수록 너무 재미있네요!!! 신기합니다!!',
    'author': '이호준',
    'image': '/hojun/2024/1/5/python.jpg',
}

In [ ]:
d = {'one': '하나', 'two': '둘'}
dd = d

id(dd), id(d)
print(dd is d)

d['one'] = 'python'
print(dd is d)
print(d)
print(dd)

d = {'one': '하나', 'two': '둘'}
dd = d.copy()

id(dd), id(d)
print(dd is d)

d['one'] = 'python'
print(dd is d)
print(d)
print(dd)

True
True
{'one': 'python', 'two': '둘'}
{'one': 'python', 'two': '둘'}
False
False
{'one': 'python', 'two': '둘'}
{'one': '하나', 'two': '둘'}

In [ ]:
# 자주 사용하지 않습니다.
# fromkeys 나중에 밸류 주겠다
d = ('one', 'two', 'three')
dict.fromkeys(d)
dict.fromkeys(d, 'hello world')

{'one': 'hello world', 'two': 'hello world', 'three': 'hello world'}

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.get('one')
d.get('three', '값 없음!')

'값 없음!'

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [ ]:
d = {'one': '하나', 'two': '둘'}
type(d.items())
# d.item()[0]   # 에러 인덱싱 안됨
# d.item()[1:]  # 에러 슬라이싱 안됨

dict_items

In [ ]:
a, b = d.items()    # 언패킹
a
b

('two', '둘')

In [ ]:
a, b = [10, 20]
a

10

In [ ]:
for i, j in d.items():
    print(i, j)

one 하나
two 둘

In [ ]:
d.keys()    # 키만 출력
d.values()  # 밸류만 출력

dict_values(['하나', '둘'])

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.setdefault('one')
d.setdefault('three')
d.setdefault('four', 4) # 있으면 그 값을 출력하고, 없으면 그 값을 d에 삽입하고 4를 출력해줘!

4

In [ ]:
d = {'one': '하나', 'two': '둘'}
#d.pop()         # error
#d.pop('three')  # error
d

TypeError: pop expected at least 1 argument, got 0

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.popitem() # 없는 코드를 많이 보게 되실 겁니다. 순서가 보장되지 않으니 마지막이 뭔지 모름. 주의해서 사용해야할 문법

('two', '둘')

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.update({'one': 'python', 'three': 'hello'})   # one은 수정이 되었고, three는 생성이 되었습니다.
d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [ ]:
# 신규문법!!(3.9)
d = {'one': '하나', 'two': '둘'}
dd = {'three': '셋'}

#d + dd
d | dd  # 책 사서 봐도 잘 안 나오는 문법입니다.

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
d = {'one': '하나', 'two': '둘'}
dd = {'one': "python", 'three': '셋'}
d | dd

{'one': 'python', 'two': '둘', 'three': '셋'}

# 셋

* 중복을 허락하지 않는 자료형입니다.
* 순서가 없는 자료형입니다. (특정 값까지만 순서가 보장됨. 순서가 없다고 생각하고 코딩할 것)
* 집합(합집합, 차집합, 교집홥)

In [ ]:
s = {1, 2, 3, 4, 5}
ss = {3, 4, 5, 6, 7}

# s + ss    # error
s | ss  # 합집합
s - ss  # 차집합
s & ss  # 교집합

print(s | ss, s - ss, s & ss)

{1, 2, 3, 4, 5, 6, 7} {1, 2} {3, 4, 5}

In [ ]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [ ]:
type(s), dir(s)

(set,
 ['__and__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__gt__',
  '__hash__',
  '__iand__',
  '__init__',
  '__init_subclass__',
  '__ior__',
  '__isub__',
  '__iter__',
  '__ixor__',
  '__le__',
  '__len__',
  '__lt__',
  '__ne__',
  '__new__',
  '__or__',
  '__rand__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__ror__',
  '__rsub__',
  '__rxor__',
  '__setattr__',
  '__sizeof__',
  '__str__',
  '__sub__',
  '__subclasshook__',
  '__xor__',
  'add',
  'clear',
  'copy',
  'difference',
  'difference_update',
  'discard',
  'intersection',
  'intersection_update',
  'isdisjoint',
  'issubset',
  'issuperset',
  'pop',
  'remove',
  'symmetric_difference',
  'symmetric_difference_update',
  'union',
  'update'])

In [ ]:
s.difference(ss)    # 차집합

{1, 2, 10}

In [ ]:
s.intersection(ss)  # 교집합

{3, 4, 5}

In [ ]:
s.union(ss)     # 합집합

{1, 2, 3, 4, 5, 6, 7, 10}

In [ ]:
set('123123123')    # 중복제거

{'1', '2', '3'}

# sum

In [ ]:
# map은 너무나 중요해서 반복할것
# 중복 제거한 값을 더하는 용도로 아래와 같이 사용하는 코드
sum(map(int, set('123123123')))

6

In [ ]:
sum([1, 2, 3])

6

In [ ]:
sum({10, 20, 30})

60

In [ ]:
map(int, set('123123123'))
# {'1', '2', '3'} => {1, 2, 3}

In [ ]:
sum({10, 20, 30})

60

In [ ]:
# error
# sum(10, 20, 30)
# sum([10, 20], [10, 20], [10, 20])

In [ ]:
# sum(순회가능한 객체, 초깃값)
sum([10, 20, 30], 100)

160

In [ ]:
sum([[10, 20], [30, 40], [50, 60]], [])  # 평탄화 작업
# [] + [10, 20]
# [10, 20] + [30, 40]

[10, 20, 30, 40, 50, 60]

In [ ]:
sum(sum([[10, 20], [30, 40], [50, 60]], []))

210

# in

In [ ]:
'h' in 'hello'

True

In [ ]:
x = 10
x in [10, 20, 30, 40, 50]

True

In [ ]:
# in 은 값만 비교함 is연산이 아님.
x = [10, 20, 30]
x in [[10, 20, 40], [10, 20, 30], [50, 40, 20]]

True

In [ ]:
s = {1, 2, 3}
1 in s

True

In [ ]:
1 not in s

False

# and, or, not 단락평가

In [ ]:
1 and 100

100

In [ ]:
user_id = 'leehojun'

user_id = user_id or '아이디 없음'
user_id

'leehojun'

In [ ]:
False and 1/0

False

In [ ]:
# 프로젝트 정보와 할당된 작업을 담은 튜플
projects = (
    ('Project A', ['Task 1', 'Task 2']),
    ('Project B', ['Task 3', 'Task 4'])
)

# 특정 프로젝트에 새로운 작업 추가
def add_task_to_project(project_name, task):
    for project in projects:
        if project[0] == project_name:
            project[1].append(task)
            break

# 'Project A'에 새 작업 추가
add_task_to_project('Project A', 'Task 5')

# 결과 출력
print("업데이트된 프로젝트 정보:", projects)

업데이트된 프로젝트 정보: (('Project A', ['Task 1', 'Task 2', 'Task 5']), ('Project B', ['Task 3', 'Task 4']))

In [ ]:
# 사용자 프로필 정보
user_profiles = {
    'user1': {'이름': 'Alice', '나이': 30},
    'user2': {'이름': 'Bob', '나이': 25}
}

# 새로운 사용자 추가
new_profile = {'user3': {'이름': 'Clara', '나이': 28}}
user_profiles.update(new_profile)

# 사용자 나이 변경 시도 및 기본값 설정
for user_id, profile in user_profiles.items():
    # 나이를 1년 증가
    profile['나이'] += 1
    # '직업' 키가 없으면 '미정'으로 설정
    profile.setdefault('직업', '미정')

# 사용자 프로필 출력
for user_id, profile in user_profiles.items():
    print(f"{user_id}: 이름={profile.get('이름')}, 나이={profile.get('나이')}, 직업={profile.get('직업')}")

print(user_profiles)

user1: 이름=Alice, 나이=31, 직업=미정
user2: 이름=Bob, 나이=26, 직업=미정
user3: 이름=Clara, 나이=29, 직업=미정
{'user1': {'이름': 'Alice', '나이': 31, '직업': '미정'}, 'user2': {'이름': 'Bob', '나이': 26, '직업': '미정'}, 'user3': {'이름': 'Clara', '나이': 29, '직업': '미정'}}

In [ ]:
# 사용자 프로필 정보
user_profiles = {
    'user1': {'이름': 'Alice', '나이': 30},
    'user2': {'이름': 'Bob', '나이': 25}
}

# 새로운 사용자 추가
new_profile = {'user3': {'이름': 'Clara', '나이': 28}}
user_profiles.update(new_profile)

# 사용자 나이 변경 시도 및 기본값 설정
for user_id, profile in user_profiles.items():
    # 나이를 1년 증가
    profile['나이'] += 1
    # '직업' 키가 없으면 '미정'으로 설정
    profile.setdefault('직업', '미정')

# 사용자 프로필 출력
for user_id, profile in user_profiles.items():
    print(f"{user_id}: 이름={profile.get('이름')}, 나이={profile.get('나이')}, 직업={profile.get('직업')}")

user1: 이름=Alice, 나이=31, 직업=미정
user2: 이름=Bob, 나이=26, 직업=미정
user3: 이름=Clara, 나이=29, 직업=미정

In [ ]:
import random

# 사용자 ID 목록과 랜덤 선택을 위한 None 추가
user_ids = ['user1', 'user2', 'user3', None]
is_admin = random.choice([True, False])  # 임의로 관리자 여부 설정

# 랜덤으로 하나의 사용자 ID 선택
selected_user_id = random.choice(user_ids)

# 로그인 상태 설정 (ID가 있으면 로그인 성공으로 가정)
logged_in = bool(selected_user_id)

# 로그인 상태와 관리자 여부 확인
if logged_in and is_admin:
    print(f"관리자로 로그인 성공! 사용자 ID: {selected_user_id}")
elif logged_in and not is_admin:
    print(f"일반 사용자로 로그인 성공! 사용자 ID: {selected_user_id}")
else:
    print("로그인 실패. 사용자 ID가 없거나 잘못된 접근입니다.")

# 사용자 ID가 없거나 관리자가 아닌 경우 추가 메시지 출력
if not selected_user_id:
    print("추가 조치가 필요합니다.")

로그인 실패. 사용자 ID가 없거나 잘못된 접근입니다.
추가 조치가 필요합니다.